/* 
    Author: quangn21
    Theme: Food Order Website Admin
    Version 1.0
*/

/* CSS All */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    padding: 1%;
    width: 90%;
    margin: 0 auto;
}

.text-red{
    color: red;
}
.text-center{
    text-align: center;
}
.text-20{
    font-size: 25px;
}

.clearfix{
    float: none;
    clear: both;
}

.tbl-full{
    width: 100%;
}
.tbl-30{ /*lúc đầu là 30% giờ đổi thành 40%*/
    width: 40%;
}

table tr th{
    border-bottom: 1px solid black;
    padding: 1%;
    text-align: left;
}

table tr td{
    padding: 1%;
}

.btn-primary{
    background-color: #1e90ff;
    padding: 1% ;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 3px;
}
.btn-primary:hover{
    background-color: #436EEE;
    cursor: pointer;
}

.btn-secondary{
    background-color: #7bed9f;
    padding: 2%;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-radius: 3px;
}
.btn-secondary:hover{
    background-color: #2ed573;
}

.btn-danger{
    background-color: #ff6b81;
    padding: 2%;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 3px;
}
.btn-danger:hover{
    background-color: #ff4757;
}
.btn-change-pwd{
    color: red !important;
}
.btn-change-pwd:hover{
    color: #ff6b60 !important;
}

.success{
    color: #2ed573;
}
.error{
    color: #ff4757;
}

.input-responsive{
    width: 96%;
    padding: 1%;
    margin-bottom: 3%;
    border-radius: 5px;
    font-size: 1rem;
}

/* CSS cho Menu */
.menu{
    border-bottom: 1px solid grey;
}
.menu ul{
    list-style-type: none;
}
.menu ul li{
    display: inline;
    padding: 1%;
}
.menu ul li a{
    text-decoration: none;
    font-weight: bold;
    color: #ff6b81;
}
.menu ul li a:hover{
    color: #ff4757;
}


/* CSS cho Main Content */
.main-content{
    background-color: #f1f2f6;
    padding: 3% 0;
}

.col-4{
    width: 18%;
    background-color: white;
    margin: 1%;
    padding: 2%;
    float: left;
}


/* CSS cho Footer */
.footer{
    background-color: #ff4757;
    color: white;
}


/* CSS cho Login */
.login{
    width: 20%;
    border: 1px solid grey;
    margin: 10% auto;
    padding: 2%;
    border-radius: 8px;
    background-color: white;
}

.login-bgVideo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    object-fit: cover; /* Đảm bảo video che phủ toàn bộ màn hình */
    z-index: -1; /* Đặt video phía sau nội dung */
}